*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 10px;
    flex: 1 1 1;
}

#img-hero{
    height: auto;
    width: 20%;
    padding:10px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

a:link {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
    padding: 8px;
}

#text{
    border-radius: 10px;
    width: 40vw;
}

#formItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100vw;
}

#btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 40vh;
}
