.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
}

#img-hero{
    height: auto;
    width: 50%;
    padding:10px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

li{
    list-style: none;
}

#text{
    border-radius: 5px;
    width: 60vw;
}

#formItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 15px;
}